* {box-sizing: border-box;}

body {
    margin: 0;
    font-style: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f5f4;
}
.text {
    display: flex;
    justify-content: center;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}

.box {
    background-color: #185161;
    color: #fff;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    transform: translateX(-900px);
    transition: transform 0.4s ease;
}


.boxo {
    background-color: #185161;
    color: #fff;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    transform: translateX(900px);
    transition: transform 0.4s ease;
}

.boxo.active {
    transform: translateX(0px);
}

.box.active {
    transform: translateX(0px);
}
