body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header {
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.panel {
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.panel p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}
